

<div class="detail">
               
     <img class="posterDelantero"  src="https://image.tmdb.org/t/p/w300/{{movie.poster_path}}" alt="movie detail">

      

        <p class="info" >{{movie.overview}}</p>

       
                

    
                <img class="posterTrasero"  src="https://image.tmdb.org/t/p/w300/{{movie.backdrop_path}}" alt="movie back poster">

        
                <button class="btn btn-primary" type="submit" routerLink="/movies/popular" routerLinkActive="router-link-active" >Atrás</button>
  </div>

